.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


/application/compile/
/assets/files_upload/
/assets/js/config.js	